@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
    font-family: 'Fredoka One', cursive;
    background-color: #2471A3 ;
}
.title {
    color: white;
    font-size: 40px;      
}

.subtitle {
    color:white;
    font-size: 28px;
}

#Pet_selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Monster-card {
    width: 160px;
    height: 110px;
    background: #27AE60  ;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #A569BD;
    border-radius: 10px; 
    display: flex; 
    color: white;
    align-content: center;
    align-items: center;
    cursor: pointer;  
}

img {
    width: 60px;
    height: 60px;
}

input{
    display: none;
}
.Monster-button {
    width: 150px;
    height: 50px;
    background: transparent ;
    border: 3px solid #A569BD;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 3px;
    cursor: pointer;
    color: white;font-size: large;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
}

.cards {
    display: flex;
}
.Attack_selection {
    display: flex;   
}
 .attack_button {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: transparent;
    width: 100px;
    font-family: 'Fredoka One', cursive;    
 }

 #Messages {
    width: 180px;
    background: #BE2014;
    border-color: #A569BD;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
 }

 #Restart {
    border: transparent;
    color:  #2471A3 ;
    border-radius: 10px;
    border-color: #A569BD;
 }